.main {
    width: 100%; /* Largura total da tela */
    background-color: black;
    display: flex;
    justify-content: space-between; /* Espaçamento entre as divs */
    align-items: center;
    
}

.main div {
    width: 45%; /* Ajuste da largura das divs internas */
    display: inline-block; /* Alinha as divs lado a lado */
}

.left {
    display: flex;
    flex-direction: column;

}

a {
    color: aliceblue;
    text-decoration: none;
    margin: 5px 0; /* Espaçamento vertical entre os links */
    display: inline-block; /* Permite a aplicação da animação */
    transition: transform 0.3s ease; /* Adiciona a transição suave */
    padding: 8px;

}

/* Animação de aumento ao passar o cursor */
a:hover {
    transform: scale(1.5); /* Aumenta a palavra ao passar o cursor */
}

.right {
    text-align: right; /* Alinha o texto à direita */
    color: aliceblue;
    justify-content: center; /* Centraliza verticalmente os links */
    text-align: center; /* Centrali-za o texto */
}

.right input {
    width: 29%; /* Largura dos campos de entrada */
    margin-bottom: 5px; /* Espaçamento entre os campos e o botão */
}

button {
    width: 20%; /* Largura do botão */
    padding: 4px 0; /* Adiciona um pouco de altura ao botão */
    background-color: rgb(24, 228, 14); /* Cor de fundo do botão */
    color: rgb(23, 23, 23); /* Cor do texto do botão */
    border: none; /* Remove a borda */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    
;
}